/* UTILITY CLASS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}

.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container-destra{
  width: 85%;
}












/* SIDEBAR RULE */
.container-sidebar{
  background-color: black;
  flex-direction: column;
  width: 15%;
}

.logo-sidebar{
  width: 80%;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.container-sidebar ul li a{
  text-decoration: none;
  color: #626262;
  vertical-align: middle;
}

.container-sidebar ul li{
  padding-left: 20px;
  margin-bottom: 20px;
  color: #626262;
  vertical-align: middle;
  list-style-type: none;
}

.fx-hover:hover{
  border-left: 3px solid #adff2f;
  color: #ffffff;
}

.fx-hover a:hover{
  color: #ffffff;
}

.icon-sidebar{
  width: 10%;
  vertical-align: middle;
  margin-right: 5px;
}



/* CONTAINER NAVBAR RULE */
.container-navbar{
  height: 100px;
  width: 85%;
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;

}

.button-premium{
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  float: right;
  height: 50px;
  line-height: 25px;
  width: 300px;
  text-align: center;
  padding: 10px 30px;
}

.container-album{
  height: 400px;
  background-color: #141922;
}
