/* UTILITY CLASS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}

.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container-destra{
  width: 85%;
}

h2, h3{
  color: white;
}

.font-color{
  color: #626262;
}

.fa-play-circle{
  color: white;
  width: 100px;
  position: absolute;
  top: 25%;
  left: 25%;
  display: none;
}

/* SIDEBAR RULE */
.container-sidebar{
  background-color: black;
  flex-direction: column;
  width: 288px;
  height: 90%;
  overflow: hidden;
}

.logo-sidebar{
  width: 80%;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.container-sidebar ul li a{
  text-decoration: none;
  color: #626262;
  vertical-align: middle;
}

.container-sidebar ul li{
  padding-left: 20px;
  margin-bottom: 20px;
  color: #626262;
  vertical-align: middle;
  list-style-type: none;
}

.fx-hover-left:hover{
  border-left: 3px solid #adff2f;
  color: #ffffff;
}

.fx-hover-left a:hover{
  color: #ffffff;
}

.icon-sidebar{
  width: 10%;
  vertical-align: middle;
  margin-right: 5px;
}

/* CONTAINER NAVBAR RULE */
.container-navbar{
  height: 100px;
  width: 85%;
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.button-premium{
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  float: right;
  height: 50px;
  line-height: 25px;
  width: 300px;
  text-align: center;
  padding: 10px 30px;
}

.container-album{
  height: 100%;
  padding-top: 100px;
  background-color: #141922;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-album ul{
  text-align: center;
}

.navbar-album li{
  display: inline-block;
  margin: 20px;
}

.navbar-album li a{
    text-decoration: none;
    color: #626262;
  }

.navbar-album li a:hover{
  color: #fff;
}

.navbar-album li hr{
  height: 2px;
  width: 30px;
  margin: 0 auto;
  display: none;
}

.navbar-album li:hover > hr{
  color: #adff2f;
  display: block;
}

.titoli-container-album{
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.row-1{
 margin-top: 30px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 flex-wrap: wrap;
}

.image-resize{
  width: 200px;
}

.box{
  width: 200px;
  text-align: center;
  position: relative;
}
.box2-1:hover,
.box2-2:hover,
.box3-1:hover,
.box3-2:hover,
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover{
  filter: brightness(50%);
}

.box2-1:hover > .fa-play-circle,
.box2-2:hover > .fa-play-circle,
.box3-1:hover > .fa-play-circle,
.box3-2:hover > .fa-play-circle,
.box1:hover > .fa-play-circle,
.box2:hover > .fa-play-circle,
.box3:hover > .fa-play-circle,
.box4:hover > .fa-play-circle,
.box5:hover > .fa-play-circle,
.box6:hover > .fa-play-circle {
 display: inline;
}

.row-3,
.row-2{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.row-3{

}
.box3-1,
.box3-2,
.box-2 {
  margin-left: 35px;
}
.box3-1,
.box3-2,
.box2-1,
.box2-2{
  text-align: center;
}


/* PLAYBAR */
.container-playbar{
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #282828;
}

/* MEDIA QUERIES */
